@charset "UTF-8";

body {
    background-color: dimgrey;
}

ul {
    text-align: center;
    vertical-align: middle;


}

li {
    list-style: none;
    display: inline-block;
    background-color: blueviolet;
    border-radius: 5px;
    width: 200px;
    height: auto;
    padding: 5px;
    font-weight: bold;
    color: white;


}

h1 {
    color: azure;
}


footer {
    text-align: center;
    font-weight: bold;
    color: azure;
}